body {
    text-align: center;
    color: #939393;
    background-color: #232425;
}

.Hero {
    text-align: center;
    margin: 10px;
    padding: 2px;
    border-style:solid;
    border-width: 3px;
    border-color: transparent;
}

.hidden {
    display: none;
}

.highlight, .Hero:hover {
    border-color: white;
}

#HeroList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#Dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

#DialogOverlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba( 0, 0, 0, 0.5 );
    width: 100%;
    height: 100%;
}